altair==5.5.0
anyio==4.8.0
blinker==1.9.0
cachetools==5.5.2
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.7
decorator==5.1.1
numpy==2.2.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
protobuf==5.29.3
pyarrow==19.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
streamlit==1.42.2
tenacity==9.0.0
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
xlsxwriter==3.1.9
